$font-size: 10px;

.ski-day-count {
  width: 60%;
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  .total-days {
    font-size: $font-size * 10;
  }
  .powder-days, .backcountry-days, .goal {
    flex: 1 0 auto;
    padding-top: 60px;
    width: 50%;
    height: 60px;
    font-size: $font-size * 3;
  }
  .powder-days {}
  .backcountry-days {}
  .goal {}
}
